.menu-content {
    margin: 20px;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    width: 800px;
    color: white;
    
}

.foodItem {
    display: flex;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.menu-wrap {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.foodItem > span {
    font-size: 3rem;
    font-weight: 600;
}

.foodItem > img {
    width: 90%;
}