*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-family: "Roboto", serif;
}

:root {
    --main-blue: rgba(91,154,255,255); 
    --main-content: #f2f5f7;
    --main-text: rgba(68,73,82,255);
    --header-text: #8c94a0;
    --hover-header-text: #e8ecee;
    --lighter-blue: #5c9cf5;

} 

body {
    min-height: 100vh;
    background-color: var(--main-content)

}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    width: 100vw;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    color: grey;
    border-bottom: 2px solid var(--header-text)
}

.module {
    padding: 10px 6px;
    outline: none;
    border: none;
    background: none;
    font-size: 1.1rem;
    color: var(--header-text);
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 10px;
}

.module:hover {
    border-radius: 20px;
    background-color: var(--hover-header-text);

}


.nav-logo {
    width: 40px;
    margin-bottom: 10px;
}


.content {
    width: 100vw;
}